<p>
  <b>Ref:</b>
  <%=h @polling_station.ref %>
</p>

<p>
  <b>Prefix:</b>
  <%=h @polling_station.prefix %>
</p>

<p>
  <b>Ward-code:</b>
  <%=h @polling_station.ward-code %>
</p>

<p>
  <b>Polling-district-code:</b>
  <%=h @polling_station.polling-district-code %>
</p>

<p>
  <b>Ward-name:</b>
  <%=h @polling_station.ward-name %>
</p>

<p>
  <b>Access:</b>
  <%=h @polling_station.access %>
</p>

<p>
  <b>Availability:</b>
  <%=h @polling_station.availability %>
</p>

<p>
  <b>Name:</b>
  <%=h @polling_station.name %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @polling_station.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @polling_station.latitude %>
</p>


<%= link_to 'Edit', edit_polling_station_path(@polling_station) %> |
<%= link_to 'Back', polling_stations_path %>