<h1>Editing recycling_site</h1>

<% form_for(@recycling_site) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :site_id %><br />
    <%= f.text_field :site_id %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :town %><br />
    <%= f.text_field :town %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :facilities %><br />
    <%= f.text_field :facilities %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @recycling_site %> |
<%= link_to 'Back', recycling_sites_path %>