<p>
  <b>Centre:</b>
  <%=h @children_centre.centre_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @children_centre.name %>
</p>

<p>
  <b>Centre type:</b>
  <%=h @children_centre.centre_type %>
</p>

<p>
  <b>Location:</b>
  <%=h @children_centre.location %>
</p>

<p>
  <b>Address:</b>
  <%=h @children_centre.address %>
</p>

<p>
  <b>Town:</b>
  <%=h @children_centre.town %>
</p>

<p>
  <b>Postcode:</b>
  <%=h @children_centre.postcode %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @children_centre.telephone %>
</p>

<p>
  <b>Notes:</b>
  <%=h @children_centre.notes %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @children_centre.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @children_centre.latitude %>
</p>


<%= link_to 'Edit', edit_children_centre_path(@children_centre) %> |
<%= link_to 'Back', children_centres_path %>