<% content_for :head do %>
<script src="http://maps.google.com/maps?file=api&v=2&key=<%= GM_API_KEY %>&sensor=false" type="text/javascript"></script>
<script type="text/javascript">
    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(53.4195,-2.34), 12);
        map.enableDoubleClickZoom();
		map.setUIToDefault();
		
		var polygon = new GPolygon([
		    new GLatLng(53.4156383315704,-2.44808181672289),
		    new GLatLng(53.396025972945,-2.47715412890939),
		    new GLatLng(53.3887183381705,-2.42633198894689),
		    new GLatLng(53.3872223859577,-2.42520190917973),
		    new GLatLng(53.3650598372721,-2.37426901429377),
			new GLatLng(53.3671670548023,-2.33834139425356),
			new GLatLng(53.3570706049553,-2.31263153790438),
			new GLatLng(53.3606103471551,-2.29705536054466),
			new GLatLng(53.3759744425155,-2.28434165361006),
			new GLatLng(53.4113873264811,-2.31860849544517),
			new GLatLng(53.4081115625226,-2.29627050219156),
			new GLatLng(53.415159444634,-2.2762340089076),
			new GLatLng(53.4223348193095,-2.27237434971313),
			new GLatLng(53.4361049070989,-2.29869798509485),
			new GLatLng(53.4489717860031,-2.28482892382407),
			new GLatLng(53.4597114232768,-2.25222775591501),
			new GLatLng(53.4725188631473,-2.26403599816272),
			new GLatLng(53.4646483370472,-2.2804652189453),
			new GLatLng(53.4798819955504,-2.31995957470433),
			new GLatLng(53.47378786333,-2.3534356911503),
			new GLatLng(53.4581584018788,-2.39491374964465),
			new GLatLng(53.4290801979635,-2.41808497424728),
			new GLatLng(53.4156383315704,-2.44808181672289)
		  ], "#900", 4, 1, "#996600", 0);
		  map.addOverlay(polygon);
		
		// Create our "tiny" marker icon
		var Icon = new GIcon(G_DEFAULT_ICON);
		Icon.image = "/images/school.png";
		Icon.shadow = "/images/shadow.png";
		Icon.iconSize = new GSize(32, 37);
		markerOptions = { icon:Icon };
		
		function createMarker(point, info) {
		  var marker = new GMarker(point,markerOptions);
		  GEvent.addListener(marker, "click", function() {
		    var myHtml = info;
		    map.openInfoWindowHtml(point, myHtml);
		  });
		  return marker;
		}
		
		<% @schools.each do |a| 
			a.name = a.name.gsub(/'/, "\\\\'") %>
			info = '<div><strong><%=h a.name %></strong><br><%=h a.school_type %><br><%= link_to(a.url, a.url)+"<br>" if a.url %><%= link_to(a.email, "mailto:"+a.email) if a.email %><br><%= link_to("Ofsted Site", "http://www.ofsted.gov.uk/oxedu_providers/full/(urn)/"+a.urn, :target => "blank") %> &nbsp; <%= link_to("EduBase Site", "http://www.edubase.gov.uk/establishment/summary.xhtml?urn="+a.urn, :target => "blank") %></div>';
			point = new GLatLng(<%= a.latitude %>, <%= a.longitude %>);
			map.addOverlay(createMarker(point, info));
		<% end %>
      }
    }
</script>

<% end %>
<div id="content">
	<h1>Trafford Schools</h1>

	<div id="map_canvas" style="width: 800px; height: 600px"></div>
	
	<div id="info">
		<div class="center_info">
			<h2>Types of Schools</h2>
			<table>
			<% @schools.group_by(&:school_type).each do |type, school| %>
				<tr><td><%= type %></td><td><%= school.size %></td></tr>
			<% end %>
			</table>
		</div>
	</div>

</div>