<p>
  <b>Urn:</b>
  <%=h @school.urn %>
</p>

<p>
  <b>Lea:</b>
  <%=h @school.lea %>
</p>

<p>
  <b>Establishment:</b>
  <%=h @school.establishment %>
</p>

<p>
  <b>Name:</b>
  <%=h @school.name %>
</p>

<p>
  <b>School type:</b>
  <%=h @school.school_type %>
</p>

<p>
  <b>Email:</b>
  <%=h @school.email %>
</p>

<p>
  <b>Url:</b>
  <%=h @school.url %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @school.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @school.latitude %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>