<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Trafford Open Data<%= ": "+controller.controller_name.titleize unless controller.controller_name.titleize == "Everythings" %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= yield :head %>
</head>
<body onload="initialize()" onunload="GUnload()">

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

<div id="content">
	<div id="nav">
		<span><%= link_to image_tag("garden.png"), allotments_path %> <%= link_to "Allotments", allotments_path %></span>
		<span><%= link_to image_tag("bus.png"), bus_stops_path %> <%= link_to "Bus Stops", bus_stops_path %></span>
		<span><%= link_to image_tag("daycare.png"), children_centres_path %> <%= link_to "Children's Centres", children_centres_path %></span>
		<span><%= link_to image_tag("fitnesscenter.png"), leisure_centres_path %> <%= link_to "Leisure Centres", leisure_centres_path %></span><br>
		<span><%= link_to image_tag("library.png"), libraries_path %> <%= link_to "Libraries", libraries_path %></span>
		<span><%= link_to image_tag("park-urban.png"), parks_path %> <%= link_to "Parks And Open Spaces", parks_path %></span>
		<span><%= link_to image_tag("pens.png"), polling_stations_path %> <%= link_to "Polling Stations", polling_stations_path %></span><br>
		<span><%= link_to image_tag("recycle.png"), recycling_sites_path %> <%= link_to "Recycling Centres", recycling_sites_path %></span>
		<span><%= link_to image_tag("school.png"), schools_path %> <%= link_to "Schools", schools_path %></span>
		<span><%= link_to image_tag("train.png"), train_stations_path %> <%= link_to "Train Stations", train_stations_path %></span>
		<span><%= link_to image_tag("deciduous_tree_32.png"), trees_path %> <%= link_to "Highway Trees", trees_path %></span><br>
		<span><%= link_to image_tag("markericon.png"), everythings_path %> <%= link_to "Everything!", everythings_path %></span>
	</div>

	<p>Data from <a href="http://www.trafford.gov.uk/opendata/">Trafford Council</a>. Built by <a href="http://bobop.co.uk">bobop</a></p>

	<p><a href="http://www.opendatamanchester.org.uk"><img src="images/logo_sq_135.png" border="0"></a></p>

</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-157020-23']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>